<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!--FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="header__search--logo">
            <div class="container__logo--busqueda">
                <div class="logo">
                    <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt=""> </a>
                </div>

                <div class="busqueda">
                    <input type="text" placeholder="Buscar productos, marcas ...">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>

            <div class="header__cuotas--container"><p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p></div>
        </div>
            

        <nav class="header__categories">
            <ul class="lista-superior">
                <li> <a href="">Ofertas </a></li>
                <li> <a href="">Tiendas Oficiales</a></li>
                <li> <a href="">Vender</a></li>
                <li> <a href="">Ayuda</a></li>
            </ul>
            <ul class="lista-inferior">
                <li> <a href="/register">Crea tu cuenta <i class="fas fa-credit-card"> </i></a></li>
                <li> <a href="/login">Ingresá <i class="fas fa-sign-in-alt "></i> </a></li>
                <li> <a href="">Más compras <i class="fas fa-shopping-basket "></i> </a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>

    <main class="home__productos">
        <div class="home__container">
            <img class="banner" src = "/images/img-home-banner.jpg" alt="Banner ofertas" width="100%">
 
        </div>
        
        <section class="seccion__productos--global">

            <a href="" class="home__second--title"><h4 class="seccion__productos--titulo">Basado en tu última visita</h4></a>

            <article class="seccion__productos--tarjeta">

                <div class="image__container-products">
                    <img src = "/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
                </div>
                    
                    <div class="home__product--details">
                        <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                        <p class="price"> $6.770</p>
                        <p class="text-green"> 40% off</p>
                        <h5 class="title__products">Cafetera Moulinex</h5>
                    </div>
            </article>

            <article class="seccion__productos--tarjeta">
                <div class="image__container-products">
                    <img src = "/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                </div>
                
                <div class="home__product--details">
                    <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                    <p class="price"> $230.000</p>
                    <p class="text-green"> 20% off</p>
                    <h5 class="title__products">MacBook Pro 2019</h5>
                </div>
            </article>

            <article class="seccion__productos--tarjeta">
                <div class="image__container-products">
                <img src = "/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                </div>
                
                <div class="home__product--details">
                    <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                    <p class="price"> $70.500</p>
                    <p class="text-green"> 10% off</p>
                    <h5 class="title__products">Samsung Galaxy S10</h5>
                </div>
            </article>

            <article class="seccion__productos--tarjeta">
                <div class="image__container-products">
                    <img src = "/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                </div>

                <div class="home__product--details">
                        <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                    <p class="price"> $23.200</p>
                    <p class="text-green"> 5% off</p>
                    <h5 class="title__products"> SmartTv Samsung 43</h5>
                </div>
            </article>

        </section>

        <section class="seccion__productos--global">

            <a href="" class="home__second--title"><h4 class="seccion__productos--titulo">Ofertas</h4></a>

            <article class="seccion__productos--tarjeta">
                    <div class="image__container-products">
                        <img src = "/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
                    </div>
                    <div class="home__product--details">
                        <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                        <p class="price"> $6.770</p>
                        <p class="text-green"> 40% off</p>
                        <h5 class="title__products">Cafetera Moulinex</h5>
                    </div>
            </article>

            <article class="seccion__productos--tarjeta">
                <div class="image__container-products">
                    <img src = "/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                </div>
                
                <div class="home__product--details">
                    <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                    <p class="price"> $230.000</p>
                    <p class="text-green"> 20% off</p>
                    <h5 class="title__products">MacBook Pro 2019</h5>
                </div>
            </article>

            <article class="seccion__productos--tarjeta">
                <div class="image__container-products">
                    <img src = "/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                </div>
                
                <div class="home__product--details">
                    <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                    <p class="price"> $70.500</p>
                    <p class="text-green"> 10% off</p>
                    <h5 class="title__products">Samsung Galaxy S10</h5>
                </div>
            </article>

            <article class="seccion__productos--tarjeta">
                <div class="image__container-products">
                    <img src = "/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                </div>

                <div class="home__product--details">
                    <span class="btn__container--truck"><i class="fa-solid fa-truck"></i></span>
                    <p class="price"> $23.200</p>
                    <p class="text-green"> 5% off</p>
                    <h5 class="title__products"> SmartTv Samsung 43</h5>
                </div>
            </article>

        </section>
    </main>

    <footer class="footer__container">
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500 </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>   
        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin </h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
        </article>
        <span>
            Copyright ©️ 1999-2020 MercadoLiebre S.R.L.
        </span>
    </footer>

</body>
</html>

